<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <table>
      <tr>
        <th>UUID</th>
        <th>Name</th>
        <th>Email</th>

        <th>College</th>

        <th>Phone</th>
        <th>Refral</th>
        <th>Points</th>
      </tr>
      <% for(var i=0; i < user.length; i++) { %>
      <tr>
        <td><%= user[i].uuid %></td>
        <td><%= user[i].firstname %> <%= user[i].lastname %></td>
        <td><%= user[i].email %></td>
        <td><%= user[i].college %></td>
        <td><%= user[i].phone %></td>
        <td><%= user[i].refral %></td>
        <td><%= user[i].points %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
